#xframe-warn			{ 
	position:fixed;
	width:80%; 
	left:10%;
	top:1em;
	height:1em; 
	border:4px solid #a2b5cd; 	
}

#xframe 					{ 
	position:fixed;
	width:80%; 
	left:10%;
	top:3em;
	height:6em; 	
	border:4px solid #a2b5cd; 	
	border-top:0;
}



#xframe 					{ 
	display:none; 
}
#xframe.pending 	{ 
	display:block; 
	background-color:#efefef; 	
	color:black;
}
#xframe.success 	{ 
	display:block; 
	background-color:#008000; 	
	color:white;
}
#xframe.error 		{ 
	display:block; 
	background-color:#ff0000; 
	color:white;
}
	#xframe header 	{ 
		cursor:pointer;
		height:1em; padding:.5em 0 .5em .5em; 
		background-color:#a2b5cd; 
		font-size:small;
		line-height:1em;
	}
	#xframe-status 	{ 
		text-transform:uppercase;
		font-weight:bold;
	}
	#xframe-queue 	{ 
		float:right;
		padding:0 1em;
	}
	#xframe-close 		{ 
		float:right; 
	}
	#xframe-close:before {
		content:"\00274C";
		color:#ff0000;
	}
	#xframe iframe		{ 
		width:100%; height:4em; 
		border:0px none; 	
	}

body.xframe {
	color:white;
}

#xframe-warn			{ 
	cursor:pointer;
	background-color:#eee; 
	font-size:small;
	line-height:1em;	
	padding:.25em 0;
	text-align:center;
	display:none; 
}
#xframe-warn:before {
	float:right;
	content:"\00274C";
	color:#ff0000;
}