.xframe-header {
	background-color:#a2b5cd; 
}
.xframe-window {
	border:4px solid #a2b5cd; 	
	background-color:#a2b5cd; 
}
.xframe-window.pending {
	background-color:#dddddd;
}
.xframe-window.success {
	background-color:#bbffbb; 	
}
.xframe-window.error {
	background-color:#ffbbbb; 	
}


